<%= form_with(model: event_attendee) do |form| %>
  <div>
    <%= form.hidden_field :event_id, value: event_attendee.event_id %>
  </div>

  <div>
    <%= form.hidden_field :attendee_id, value: event_attendee.attendee_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>