<h2>User</h2>

<%= render @user %>

<h2>Organized events</h2>

<% @user.organized_events.each do |event| %>
  <%= render 'events/event', event: event %>
<% end %>

<h2>Attended events</h2>

<% @user.attended_events.each do |event| %>
  <%= render 'events/event', event: event %>
<% end %>