<h1>Upcoming Events</h1>

<% @events.upcoming.each do |event| %>
  <%= render 'events/event', event: event %>
<% end %>

<h1>Past Events</h1>

<% @events.past.each do |event| %>
  <%= render 'events/event', event: event %>
<% end %>

